@import '../../shared-styles/variables';
@import '../../shared-styles/materialize/materialize-variables.scss';

.makerBio {
  column-count: 2;
  column-gap: 1rem;
}

.h2 {
  margin: 0 0 1rem 0;
  font-size: $font-size-20;
}

.goBack {
  padding-left: 0;
}
