@import '../../shared-styles/variables';
@import '../../shared-styles/mixins';

.quickPagination {
  margin: 2rem 0;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.paginationTitle {
  font-size: 1rem;
}
