@import '../../shared-styles/variables';
@import '../../shared-styles/mixins';
@import '../../shared-styles/materialize/index.scss';

.artObjects {
  display: flex;
  flex-flow: row wrap;
}

.col {
  display: flex;
  align-items: stretch;
}

.quickPagination {
  margin-top: 2rem;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.searchWrapper {
  position: relative;
  margin: $padding-lg 0;
}
