@import '../../shared-styles/variables';
@import '../../shared-styles/mixins';
@import '../../shared-styles/materialize/index.scss';

.tab {
  margin-left: 1.5rem;

  &.active {
    text-decoration: underline;
  }
}

.searchResultsHeader {
  @include clearfix();

  margin-bottom: $padding-md;
}