@import '../../shared-styles/variables';
@import '../../shared-styles/mixins';
@import '../../shared-styles/materialize/materialize-variables.scss';

.tab {
  margin-left: 1.5rem;

  &.active {
    text-decoration: underline;
  }
}

.searchResultsHeader {
  @include clearfix();

  padding-bottom: $padding-md;
  margin-bottom: $padding-md;
  border-bottom: $border-light;
}