@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin full-size() {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  min-height: 100%;
}

@mixin img-fit-cover() {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@mixin img-fit-contain() {
  height: 100%;
  width: 100%;
  object-fit: contain;
}


@mixin center-v() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin center-h() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin center-both() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
