@import './variables';
@import './mixins';
@import './materialize/materialize-variables';

.sectionInner {
  padding: $padding-md 0;
}

.sectionInnerHeader {
  margin-bottom: $padding-md;
}

.sectionHeaderRight {
  text-align: right;
}

.alphabeticalListings {
  line-height: 1.5em;
}

.alphabeticalListing {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.h3 {
  margin: 0;
  font-size: $font-size-md;
}

.clearfix {
  @include clearfix();
}

.viewAllLink {
  display: block;
}

.imageWrap img {
  @include img-fit-contain();
}