@import '../../shared-styles/variables';
@import '../../shared-styles/materialize/index.scss';

.card {
  margin: 0;
  box-shadow: none !important;
}

@media #{$medium-and-down} {
  li {
    margin-bottom: $padding-md;
  }

  .cardTitle {
    margin: $padding-md 0;
  }
}

@media #{$large-and-up} {
  .cardSingle {
    .cardTitle {
      font-size: $font-size-md-lg;
    }
    .cardContent {
      margin-bottom: 1rem;
    }
  }

  .cardTitle {
    font-size: $font-size-20;
    line-height: 1.25em;
    display: inline-block;
    margin-bottom: $padding-md;
  }

  .cardContentInner {
    background: $color-white;
    top: 100%;
  }

  .statLabel {
    font-weight: $font-weight-bold;
    line-height: 1.5em;
    display: block;
  }

  .statValue {
    font-size: $font-size-base;
  }

  .colon {
    display: none;
  }
}