// example variable
$color-black: #000000;
$color-white: #ffffff;
$color-brand: #ff2d58;
$padding-md: 1rem;

$font-size-base: 16px;
$font-size-sm: .85rem;
$font-size-md: 2rem;
$font-size-lg: 3rem;
$font-weight-bold: 600;
