// example variable
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #e9e9e9;
$color-link-active: #e9e9e9;
$color-brand: #ff2d58;
$padding-md: 1rem;
$padding-lg: 3rem;

$font-size-base: 16px;
$font-size-sm: .85rem;
$font-size-md: 1.5rem;
$font-size-lg: 3rem;
$font-weight-bold: 600;
