@import '../../shared-styles/variables';
@import '../../shared-styles/mixins';
@import '../../shared-styles/materialize/materialize-variables.scss';

.navMenu {
  background: $color-grey;
  margin-bottom: $padding-md;
}

.link {
  font-size: $font-size-md;
}

.navItem {
  &:hover,
  &.active {
    // temp undo materialize styles
    background: none;

    a {
      color: $color-link-active;
    }
  }
}