@import '../../shared-styles/variables';
@import '../../shared-styles/materialize/index.scss';

.comp {
  padding: 0 $padding-md;

  // example of extending with materialize classes
  @extend .teal;
}

.brandLogo {
  float: left;
}

.navMenu {
  float: right;
}
