@import '../../shared-styles/variables';
@import '../../shared-styles/materialize/index.scss';

// todo: #consolidateCards
.card {
  width: 100%;
}

.cardContent {
  padding: $padding-sm;

  li {
    margin-bottom: $padding-sm;
  }
}

.cardTitle {
  font-size: $font-size-20;
  display: inline-block;
  margin: $padding-sm 0;
}

@media #{$large-and-up} {
  .cardTitle {
    font-size: $font-size-20;
    display: inline-block;
    margin: $padding-md 0;
  }

  .statLabel {
    font-weight: $font-weight-bold;
    line-height: 1.5em;
    display: block;
  }

  .statValue {
    font-size: $font-size-base;
  }

  .colon {
    display: none;
  }
}