@import '../../shared-styles/variables';
@import '../../shared-styles/materialize/index.scss';

// todo: #consolidateCards
.card {
  width: 100%;
}

.imageWrap{

}

.cardTitle {
  margin-bottom: 2rem !important;
}

.statListItem {
  margin-bottom: 1rem;
}

.statLabel {
}

@media #{$large-and-up} {
  .statLabel {
    font-weight: $font-weight-bold;
    display: block;
  }

  .statValue {
    font-size: $font-size-md;
  }

  .colon {
    display: none;
  }
}